<%= dc_page_top %>

<div id="site-frame">
 <div id="site-top">
    <div style="float: left;"> 
      <%= link_to image_tag('logo.png', :border => 0), '/' %>
      <span id="app-title">Intranet portal</span>	  
    </div>
    <div style="float: left;"> 
      <%= dc_render :dc_menu, name: 'portal-menu' %>
    </div>
    <div style="float: right;"> 
      <%= dc_render(:home, method: 'login') %> 
    </div>
    <div style="clear: both;"></div>
  </div>
  
  <div id="page">
    <% if @options['render'] %>
      <%= dc_render_design_part @options['render'] %>    
    <% else %>
      <%= dc_render( @options['renderer'] || @page.subject_link ) %>
    <% end %>
  </div>
</div>

<%= dc_page_bottom %>

